

<header class="u-align-center-sm u-align-center-xs u-clearfix u-header u-header" id="sec-9a8b">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1">
            <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <div class="u-social-icons u-spacing-10 u-text-body-alt-color u-social-icons-1" data-animation-name="wobble" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
            <a class="u-social-url" target="_blank" href="">
                <span class="u-icon u-icon-circle u-social-instagram u-social-type-logo u-icon-1">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0db0"></use></svg>
                    <svg x="0px" y="0px" viewBox="0 0 112 112" id="svg-0db0" class="u-svg-content"><path d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg>
                </span>
            </a>
        </div>
        <nav class="u-align-left u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0; font-weight: 700; text-transform: uppercase;">
                <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="undefined"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8a8f"></use></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-8a8f" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-0 u-unstyled u-nav-1">
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-white u-text-grey-40 u-text-hover-grey-15" href="~/Home/Index" style="padding: 10px 20px; text-shadow: 2px 2px 8px rgba(0,0,0,0.4);">Home</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-white u-text-grey-40 u-text-hover-grey-15" href="~/Stock/Index" style="padding: 10px 20px; text-shadow: 2px 2px 8px rgba(0,0,0,0.4);">Ассортимент</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-white u-text-grey-40 u-text-hover-grey-15" style="padding: 10px 20px; text-shadow: 2px 2px 8px rgba(0,0,0,0.4);">Рецепты</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-white u-text-grey-40 u-text-hover-grey-15" style="padding: 10px 20px; text-shadow: 2px 2px 8px rgba(0,0,0,0.4);">Корзина</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-white u-text-grey-40 u-text-hover-grey-15" href="~/User/Index" style="padding: 10px 20px; text-shadow: 2px 2px 8px rgba(0,0,0,0.4);">Аккаунт</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="~/Home/Index" style="padding: 10px 20px; text-shadow: 2px 2px 8px rgba(0,0,0,0.4);">Home</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="~/Stock/Index" style="padding: 10px 20px; text-shadow: 2px 2px 8px rgba(0,0,0,0.4);">Ассортимент</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" style="padding: 10px 20px; text-shadow: 2px 2px 8px rgba(0,0,0,0.4);">Рецепты</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" style="padding: 10px 20px; text-shadow: 2px 2px 8px rgba(0,0,0,0.4);">Корзина</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="~/User/Index" style="padding: 10px 20px; text-shadow: 2px 2px 8px rgba(0,0,0,0.4);">Аккаунт</a>
                        </li>
                    </ul>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
    </div>
</header>