@{
    Layout = "";
}

@model GreenFarm.Models.Order


<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>CreateOrder</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/CreateOrder.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>



    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <meta property="og:title" content="CreateOrder">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#ff7070">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">

    <partial name="~/Views/Shared/Header.cshtml" />


    <section class="u-clearfix u-section-1" id="sec-8a89">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h2 class="u-text u-text-default u-text-1">Создание заказа</h2>
        </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-fe12">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-form u-form-1">
                <div class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" name="form">
                    <form asp-action="CreateOrder">
                        <div class="u-form-group u-form-group-1">
                            <label for="text-2fec" class="u-form-control-hidden u-label u-text-body-alt-color"></label>
                            <input type="text" placeholder="Клиент" asp-for="UserName" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-text-black u-white">
                        </div>
                        <div class="u-align-left u-form-group u-form-submit">
                            <a href="#" class="u-btn u-btn-submit u-button-style">Создать</a>
                            <input type="submit" value="submit" class="u-form-control-hidden">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>



    <partial name="~/Views/Shared/Footer.cshtml" />

</body>
</html>