.u-section-1 .u-sheet-1 {min-height: 89px}
.u-section-1 .u-text-1 {margin: 21px 0}.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-form-1 {height: 164px; margin: 20px 627px 60px 0}
.u-section-2 .u-form-group-1 {margin-left: 0} 

@media (max-width: 1199px){ .u-section-2 .u-form-1 {width: 570px; margin-right: 427px} }

@media (max-width: 991px){ .u-section-2 .u-form-1 {margin-right: 150px} }

@media (max-width: 767px){ .u-section-2 .u-form-1 {width: 540px; margin-right: 0} }

@media (max-width: 575px){ .u-section-2 .u-form-1 {width: 340px} }